{
 :bind "0.0.0.0"
 :port "8083"
 :password-file "src/main/resources/password_file.conf"

 :secrets #include "secrets.edn"
 :local #include "local.edn"

 :re-thing {
   :elasticsearch {:index "re-thing"}
 }

 :elasticsearch {
  :default {
     :hosts [#ref [:local :elasticsearch :host]]
     :auth {
       :user #ref [:secrets :elasticsearch :user]
       :password #ref [:secrets :elasticsearch :password]
     }
     :major 7
     :minor 8
     :self? true
   }
  }
}
