{
 :secrets #include "secrets.edn"
 :local #include "local.edn"

 :re-thing {
   :elasticsearch {:index "re-thing"}
 }

 :mosquitto {
   :host #ref [:local :mosquitto :host]
   :qos 2
   :client-id "re-thing"
   :auth {
       :user #ref [:secrets :mosquitto :user]
       :password #ref [:secrets :mosquitto :password]
    }
 }

 :elasticsearch {
  :default {
     :hosts [#ref [:local :elasticsearch :host]]
     :auth {
       :user #ref [:secrets :elasticsearch :user]
       :password #ref [:secrets :elasticsearch :password]
     }
     :major 7
     :minor 8
     :self? true
   }
  }
}
